{% extends "base.html" %}

{% block title %}Order Details | Trendy Fashion Store{% endblock %}

{% block body %}
<div class="row pad">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="bold">ORDER {{ user.reference_num }} FROM {{ user.first_name.title() + " " + user.surname.title() }}</h3>
				<p>Status: <span class="badge">{{ user.payment_status }}</span></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Products Bought</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Product id</th><th>Name</th><th>Price</th><th>Units</th><th>Total</th>
						</tr>
					</thead>
					<tbody>
                       {% for item in user.items %}
						<tr>
							<td>{{ item.product_id }}</td>
							<td>{{ item.product.name.title() }}</td>
							<td>&pound;{{ item.product.price }}</td>
							<td>{{ item.quantity }}</td>
							<th>&pound;{{ item.product.price * item.quantity | round }}</th>
						</tr>
                        {% endfor %}
						<tr>
							<td>SH</td>
							<td>Shipping fee</td>
							<td>&pound;50.00</td>
							<td>&pound;50 added if the total items bought is less than a &pound;100</td>
							<th>&pound;50.00</th>
						</tr>

					</tbody>
					<tfoot>
						<tr>
							<th colspan="4" class="text-right">Total</th>
							<th>&pound;{{ user.items[-1].total_order }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<h3 class="strong">Buyer Information</h3>
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Shipping Info</a>
				</li>
				<li role="presentation">
					<a href="#details" aria-controls="details" role="tab" data-toggle="tab">Personal Details</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="shipping">
					<h4 class="bold">Shipping Information</h4>
					<p><i class="glyphicon glyphicon-user"></i> NAME:
                        <strong>{{ user.title + ' ' + user.first_name.title() + ' ' + user.surname.title()}}</strong>
                    </p>
					<p><i class="glyphicon glyphicon-map-marker"></i> ADDRESS: 
						<strong>{{ user.address.title() }}</strong>
					</p>
					<p><i class="glyphicon glyphicon-th"></i> State: <strong>{{ user.state }}</strong></p>
					<p><i class="glyphicon glyphicon-flag"></i> Country: <strong>{{ user.country.title() }}</strong></p>
					<hr />
					<p>
						<i class="glyphicon glyphicon-gift"></i> 
						Delivery: <strong>Next Day Delivery: No</strong>
					</p>
					<hr />
					<p>
						<i class="glyphicon glyphicon-piggy-bank"></i>
						{% if user.payment_type == 'BT' %}
							Payment Type: <strong>Wire Transfer</strong>
						{% else %}
							Payment Type: <strong>Bank card</strong>
						{% endif %}
					</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="details">
					<h4 class="bold">Personal Details Provided</h4>
					<p><i class="glyphicon glyphicon-user"></i> NAME:
                        <strong>{{ user.title + ' ' + user.first_name.title() + ' ' + user.surname.title()}}</strong>
                    </p>
					<p><i class="glyphicon glyphicon-phone-alt"></i> PHONE: <strong>{{ user.phone_number }}</strong></p>
					<p>
						<i class="glyphicon glyphicon-envelope"></i> EMAIL: 
						<strong>{{ user.email }}</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}